.style-0 {
    empty-cells: show; 
    table-layout: fixed; 
    width: 500pt
}

.style-1 {
    color: #f50a0a; 
    font-size: 20pt; 
    font-family: "Segoe UI Light"; 
    font-weight: bold; 
    font-style: italic; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-2 {
    color: black; 
    font-size: 18pt; 
    font-family: "Segoe UI Light"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: underline; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-3 {
    color: black; 
    font-size: 14pt; 
    font-family: "Segoe UI Light"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: underline; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-4 {
    color: black; 
    font-size: 10pt; 
    font-family: "Shruti"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: silver
}

