{% extends "layout.html" %}

{% block page_title %}Contact Us{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

	<section class="page-contact">
		<div class="container">
			<h1 class="bordered red">Contact Us</h1>

			<div class="form contact-form-wrapper">
			<form method="post">
				<div class="form-item">
					<div class="item-label">Your Name</div>
					<div class="item-field">
						<input type="text" name="Name" class="contact-form-input" />
					</div>
					<div class="clr"></div>
				</div>
				<div class="form-item">
					<div class="item-label">Your Email</div>
					<div class="item-field">
						<input type="text" name="Email" class="contact-form-input" />
					</div>
					<div class="clr"></div>
				</div>
				<div class="form-item">
					<div class="item-label">Your Message</div>
					<div class="item-field">
						<textarea rows="5" name="Message" class="contact-form-input"></textarea>
					</div>
					<div class="clr"></div>
				</div>
				<div class="form-item">
					<div class="item-label hidden-phone">&nbsp;</div>
					<div class="item-field">
						<input type="submit" name="Submit" value="Submit" class="submit button green" />
					</div>
					<div class="clr"></div>
				</div>
			</form>
			</div>
		</div>

	</section>

{% endblock %}
