{% extends "layout.html" %}

{% block page_title %}KLP{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}


{% block content %}


	<script type="text/javascript">

		$(document).ready(function(){
			resizeHomeHeader();
			$(window).resize(function() {
				resizeHomeHeader();
			});
		});

		function resizeHomeHeader(){

			if($(window).width() >=980){
				// Its a desktop device
				if($(window).height() <750){
					// Resize only if height less than 750px (700px header + 50px navigation)
					var header_height = $(window).height() - (50+30);	// 50px navigation + 30px padding in content

					$(".home-header .content").css({
						'min-height': header_height + 'px',
						'height': header_height + 'px',
						'background-size': 'auto '+header_height + 'px'
					});

					// Setting headline text height as 130px
					$(".home-header .content .headline-text").css({
						'height': 130 + 'px',
						'background-size': 'auto 130px',
						'margin-top': '30px'
					});

					if(header_height>450){
						$(".home-header .content .info").css({
							'margin-top': '30px',
							'display' : 'block'
						});
					} else {
						$(".home-header .content .info").hide();
					}

					console.log(header_height);
				}
			} else {
				// Its a mobile or tablet. Reverting to original css.
				$(".home-header .content").css({
					'height': 'auto',
					'min-height': 'inherit'
				});
			}
		}

	</script>
    
{% endblock %}