{% extends "layout.html" %}

{% block page_title %}Programmes{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

	<section class="page-programmes">
		<div class="container">
			<h1 class="bordered green">Programmes</h1>

			<div class="programmes-list-wrapper">

				<div class="programme-type">
					<div class="thumb reading"><a href="reading_programme.php"></a></div>
					<div class="details">
						<h2><a href="reading_programme.php">Reading Programme</a></h2>
						<p>
							The Reading Support Programme focuses on making reading a key activity within the existing school system and uses a simple story based methodology to facilitate the reading process for children.
						</p>
						<p>
							<a class="read_more" href="reading_programme.php">Read more</a>
						</p>
					</div>
					<div class="clr"></div>
				</div>

				<div class="programme-type">
					<div class="thumb maths"><a href="maths_programme.php"></a></div>
					<div class="details">
						<h2><a href="maths_programme.php">Maths Programme</a></h2>
						<p>
							The Mathematics Support Programme makes math fun for children. Simple concepts like numbers, place value, mathematical functions are taught using an activity based method with tools like a counting board and number grids, which help children comprehend mathematics.
						</p>
						<p>
							<a class="read_more" href="maths_programme.php">Read more</a>
						</p>
					</div>
					<div class="clr"></div>
				</div>

				<div class="programme-type">
					<div class="thumb library"><a href="library_programme.php"></a></div>
					<div class="details">
						<h2><a href="library_programme.php">Library Programme</a></h2>
						<p>
							The School-based Library Programme is a key part of Akshara's approach, as we believe that books and reading impact children's learning outcomes by helping them become better readers. The Programme has set up nearly 400 libraries in the 1417 Government Primary Schools in Bangalore Urban district covering a total of 215,000 children. Every child in every government primary school (Classes 2-7 ) in Bangalore has access to library facilities.
						</p>
						<p>
							<a class="read_more" href="library_programme.php">Read more</a>
						</p>
					</div>
					<div class="clr"></div>
				</div>

				<div class="programme-type">
					<div class="thumb preschool"><a href="preschool_programme.php"></a></div>
					<div class="details">
						<h2><a href="preschool_programme.php">Pre-school Programme</a></h2>
						<p>
							The School-based Library Programme is a key part of Akshara's approach, as we believe that books and reading impact children's learning outcomes by helping them become better readers. The Programme has set up nearly 400 libraries in the 1417 Government Primary Schools in Bangalore Urban district covering a total of 215,000 children. Every child in every government primary school (Classes 2-7 ) in Bangalore has access to library facilities.
						</p>
						<p>
							<a class="read_more" href="preschool_programme.php">Read more</a>
						</p>
					</div>
					<div class="clr"></div>
				</div>
			</div>

		</div>
	</section>

{% endblock %}
